[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-mongoengine = "*"
mongoengine-goodjson = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-mail = "*"
serpy = "*"
flask-minio = "*"
minio = "*"
flask-cors = "*"
zipstream = "*"
requests = "*"

[requires]
python_version = "3.7"
